.contentcontainer {
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 80rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.footer {
  display: flex;
  flex: 1;
  padding: 2rem 32rem;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

